/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-pgx-dark text-pgx-white antialiased;
  /* Jika Anda ingin font default untuk seluruh aplikasi, tambahkan di sini */
  /* font-family: 'NamaFontAnda', sans-serif; */
}

/* Menggunakan nilai HEX langsung untuk variabel CSS autofill */
/* Pastikan nilai HEX ini SAMA dengan yang ada di tailwind.config.js Anda */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #1F2937 inset !important; /* Sesuaikan dengan nilai pgx-dark-surface Anda */
    -webkit-text-fill-color: #F7FAFC !important; /* Sesuaikan dengan nilai pgx-white Anda */
    caret-color: #F7FAFC !important; /* Sesuaikan dengan nilai pgx-white Anda */
}